body {
  margin: 0;
  overflow: hidden;
  background-size: cover;
  min-height: -webkit-fill-available;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgba(199, 203, 178, 1);
  background-image: url('/assets/img/grass.png');
}

* {
  box-sizing: border-box;
  user-select: none !important;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

#id {
  color: #fff;
  background-color: rgba(207, 222, 204, 0.0);
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Courier New', Consolas Courier, monospace;
  height: 24px;
  line-height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
}

#game {
  text-align: center;
  flex-grow: 0;
  width: 100%;
  margin-bottom: 24px;
}


.hspan {
  flex-grow: 1;
  display: block;
}